<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yichen.springcloud.dao.PaymentDao">
    <insert id="create" parameterType="Payment" useGeneratedKeys="true" keyProperty="id">
        insert into payment(serial) values( #{serial} )
    </insert>

    <resultMap id="BasePayment" type="com.yichen.springcloud.entities.Payment">
        <id column="id" property="id" jdbcType="BIGINT"></id>
        <result column="serial" property="serial" jdbcType="varchar"></result>
    </resultMap>

    <select id="getPaymentById" resultMap="BasePayment" parameterType="Long">
        select * from payment where id = #{id}
    </select>

</mapper>